#header .ui-button {
    color: #f8f9fa;
    border-color: #f8f9fa;
    background: none;
}

#header .ui-state-hover{
    color: black;
    background: white;
}

.input-search{
    width: 250px;
}

.navbar-nav{
    margin-left: 10px;
}

#map{
    width: 100%;
    height: 400px;
}

@media only screen and (max-width: 768px) {
    .input-search{
        width: 100%;
    }
}